@model CapaEntidades.entActividad

@{
    ViewBag.Title = "Detalle Actividad";
    Layout = "~/Views/MasterPageExtranet.cshtml";
}


<div class="row">
    <div class="col s12">
        <div class="card light-blue"><div class="card-content white-text"><h5>@Model.tituloActividad</h5></div></div>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-image">
                <img src="~/images/ImgActividades/@Model.imagenActividad" alt="sample" >
                <span class="card-title">@Model.tituloActividad</span>
            </div>
            <div class="card-content">
                <p>@Model.descripcionActividad</p>
                <div class="row">
                    <div class="col s12 m6">
                        <p>Lugar de Inicio de Actividad: @Model.lugarInicio</p>
                    </div>
                    <div class="col s12 m6">
                        <p>Lugar de Fin de Actividad: @Model.lugarFin</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m6">
                        <p>Fecha de Actividad: @Model.fechaActividad.ToString("dd/MM/yyyy")</p>
                    </div>
                    <div class="col s12 m6">
                        <p>Estado de Actividad: @Model.estadoActividad</p>
                    </div>
                </div>                
                <div class="row">
                    <div class="col s12 m6">
                        <p>Hora de Inicio de Actividad: @Model.horaInicio</p>
                    </div>
                    <div class="col s12 m6">
                        <p>Hora de Fin de Actividad: @Model.horaFin</p>
                    </div>
                </div> 
                <div class="row">
                    <div class="col s12 m6">
                        <p>Dirección de Actividad: @Model.direccionActividad</p>
                    </div>
                    <div class="col s12 m6">
                        <p></p>
                    </div>
                </div>               
            </div>
            <div class="card-action">
                @Html.ActionLink("ASISTIRÉ", "IncrementaAsistencias", new { idActividad = Model.idActividad })                
            </div>
        </div>
    </div>
</div>