@model CapaEntidades.entActividad

@{
    ViewBag.Title = "Detalle Actividad";
    Layout = "~/Views/MasterPageExtranet.cshtml";
}

@*<h2>@Model.tituloActividad</h2>
<br />
@Html.ActionLink("ASISTIRÉ", "IncrementaAsistencias", new { idActividad = Model.idActividad })*@

<div class="row">
    <div class="col s12">
        <div class="card light-blue"><div class="card-content white-text"><h5>@Model.tituloActividad</h5></div></div>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-image">
                <img src="~/images/ImgActividades/@Model.imagenActividad" alt="sample" >
                <span class="card-title">@Model.tituloActividad</span>
            </div>
            <div class="card-content">
                <p>@Model.descripcionActividad</p>
                <div class="row">
                    <div class="col s12 m6">
                        <p>@Model.fechaActividad.ToString("dd/MM/yyyy")</p>
                    </div>
                    <div class="col s12 m6">
                        <p>@Model.fechaActividad.ToString("dd/MM/yyyy")</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m6">
                        <p>@Model.fechaActividad.ToString("dd/MM/yyyy")</p>
                    </div>
                    <div class="col s12 m6">
                        <p>@Model.fechaActividad.ToString("dd/MM/yyyy")</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m6">
                        <p>@Model.fechaActividad.ToString("dd/MM/yyyy")</p>
                    </div>
                    <div class="col s12 m6">
                        <p>@Model.fechaActividad.ToString("dd/MM/yyyy")</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m6">
                        <p>@Model.fechaActividad.ToString("dd/MM/yyyy")</p>
                    </div>
                    <div class="col s12 m6">
                        <p>@Model.fechaActividad.ToString("dd/MM/yyyy")</p>
                    </div>
                </div>
            </div>
            <div class="card-action">
                @Html.ActionLink("ASISTIRÉ", "IncrementaAsistencias", new { idActividad = Model.idActividad })                
            </div>
        </div>
    </div>
</div>