@using CapaEntidades
@model IEnumerable<entActividad>

@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/MasterPageExtranet.cshtml";
}

@{
    int cant = 0;
    foreach (var m in Model)
    {
        if (cant < 2)
        {
            <div class="parallax-container">
                <div class="section no-pad-bot">
                    <div class="container">
                        <br><br>
                        <h1 class="header center text-lighten-2"><p><br /></p></h1>
                        <div class="row center">
                            <h5 class="header col s12 light"><p><br /></p></h5>
                        </div>
                        <div class="row center">
                            @Html.ActionLink("Detalle Actividad", "DetalleActividadExtranet", new { idActividad = m.idActividad }, new { @class = "btn-large waves-light" })
                        </div>
                        <br><br>

                    </div>
                </div>
                <div class="parallax">
                    <img src="~/images/ImgActividades/@Html.DisplayFor(modelItem => m.imagenActividad)" />
                </div>
            </div>
            <div class="section white">
                <div class="row container">
                    <h2 class="header">@Html.DisplayFor(modelItem => m.tituloActividad)</h2>
                    <p class="grey-text text-darken-3 lighten-3">@Html.DisplayFor(modelItem => m.descripcionActividad)</p>
                    <p class="grey-text text-darken-3 lighten-3 right">@m.fechaActividad.ToString("dd/MM/yyyy"))</p>
                </div>
            </div>
            cant += 1;
        }
    }
    <div class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br>
                <h1 class="header center text-lighten-2"><p><br /></p></h1>
                <div class="row center">
                    <h5 class="header col s12 light"><p><br /></p></h5>
                </div>
                <div class="row center">
                    <a href="@Url.Action("TodasActividades")" id="download-button" class="btn-large waves-light">Todas las Actividades</a>
                </div>
                <br><br>

            </div>
        </div>
        <div class="parallax">
            <img src="~/images/Parallax/hermandad.jpg" />
        </div>
    </div>
}
