@using CapaEntidades

@{
    ViewBag.Title = "Todas las Actividades";
    Layout = "~/Views/MasterPageExtranet.cshtml";
}

@{ List<entActividad> lista = ViewBag.ListActividades;}

<div class="row">
    @foreach (var item in lista)
    {
        <div class="col s12 m4" >
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator responsive-img" src="~/images/ImgActividades/@item.imagenActividad">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">@item.tituloActividad.Substring(0,25)...<i class="mdi-navigation-more-vert right"></i></span>
                    <p class="right-align">@item.fechaActividad.ToString("dd/MM/yyyy")</p>
                    <p>@Html.ActionLink("Detalle Actividad", "DetalleActividadExtranet", new { idActividad = item.idActividad })</p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">@item.tituloActividad<i class="mdi-navigation-close right"></i></span>
                    <p>@item.descripcionActividad</p>
                    <p></p>
                    <p class="right-align">@item.fechaActividad.ToString("dd/MM/yyyy")</p>
                </div>
            </div>
        </div>
    }
</div>













