@model IEnumerable<CapaEntidades.entActividad>
@using System;
@{
    ViewBag.Title = "Lista De Actividades";
    Layout = "~/Views/MasterPageIntranet.cshtml";
}

<h2>Lista Actividades</h2>

<p>
    <a href="RegistroActividad" class="waves-effect waves-light btn"><i class="mdi-av-playlist-add"></i>Agregar Actividad</a>
</p>

@if (@ViewBag.mensaje != null)
{
    if (@ViewBag.identificador == 1)
    {
        <div class="card-panel lime accent-3"><strong>Atención!</strong> @ViewBag.mensaje</div>
    }
    else if (@ViewBag.identificador == 2)
    {
        <div class="card-panel red lighten-3" role="alert"><strong>Ooops!</strong> @ViewBag.mensaje</div>
    }
    else if (@ViewBag.identificador == 3)
    {
        <div class="card-panel light-green lighten-2" role="alert"><strong>Atención!</strong> @ViewBag.mensaje</div>
    }
}

<table class="highlight">
    <thead>
        <tr>
            <th> Nº</th>
            <th>Titulo</th>
            <th>Descricion</th>
            <th>Fecha</th>
            <th>Imagen</th>
            <th>Estado</th>
            <th>Direccion</th>
            <th>Lugar Inicio</th>
            <th>Lugar Fin</th>
            <th>Hora inicio</th>
            <th>Hora Fin</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ Int32 c = 1;}
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.HiddenFor(modelItem => item.idActividad)
                    @c
                </td>
                <td>@Html.DisplayFor(modelItem => item.tituloActividad)</td>
                <td>@Html.DisplayFor(modelItem => item.descripcionActividad.Substring(0,25))</td>
                <td>@item.fechaActividad.ToString("dd/MM/yyyy")</td>
                <td>
                    <img class="materialboxed responsive-img" width="150" src="~/images/ImgActividades/@Html.DisplayFor(modelItem => item.imagenActividad)">
                    @Html.HiddenFor(modelItem => item.imagenActividad)
                </td>
                <td>@Html.DisplayFor(modelItem => item.estadoActividad)</td>
                <td>@Html.DisplayFor(modelItem => item.direccionActividad)</td>
                <td>@Html.DisplayFor(modelItem => item.lugarInicio)</td>
                <td>@Html.DisplayFor(modelItem => item.lugarFin)</td>
                <td>@Html.DisplayFor(modelItem => item.horaInicio)</td>
                <td>@Html.DisplayFor(modelItem => item.horaFin)</td>
                <td>@Html.ActionLink("Editar", "EditarActividad", new { idActividad = item.idActividad }, new { @class = "btn col s4 l2" })</td>
                <td>@Html.ActionLink(".", "DeleteActividad", new { idActividad = item.idActividad }, new { @class = "btn tooltipped col s4 offset-s4 l2 offset-l1", @data_position = "top", @data_delay = "50", @data_tooltip = "Eliminar" })</td>
            </tr>
            c = c + 1;
        }
    </tbody>
</table>

